In [1]:
from pyspark.sql import SparkSession 

spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/02 10:23:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.json("/usr/local/Cellar/apache-spark/3.5.0/libexec/examples/src/main/resources/people.json")

In [8]:
df.write.parquet("~/Desktop/people.parquet")

In [3]:
dfp = spark.read.parquet("~/Desktop/people.parquet")

In [4]:
dfp.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [5]:
dfp.createOrReplaceTempView("people")

In [6]:
spark.sql("select * from people").show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
from pyspark.sql import Row
sc = spark.sparkContext

In [9]:
df2 = spark.createDataFrame(sc.parallelize(range(1,6)) \
                            .map(lambda i: Row(single=i, double=i**2)))

In [49]:
df2.write.parquet("data/table/key=1")

In [10]:
df3 = spark.createDataFrame(sc.parallelize(range(6,11)).map(lambda i: Row(single=i, triple= i**3)))

In [50]:
df3.write.parquet("data/table/key=3")

In [11]:
df3.printSchema()

root
 |-- single: long (nullable = true)
 |-- triple: long (nullable = true)

In [15]:
merged_df = spark.read.option("mergeSchema", "true").parquet("data/table")

In [13]:
merged_df.show()

+------+------+------+---+
|single|double|triple|key|
+------+------+------+---+
|     9|  NULL|   729|  3|
|    10|  NULL|  1000|  3|
|     4|    16|  NULL|  1|
|     5|    25|  NULL|  1|
|     6|  NULL|   216|  3|
|     7|  NULL|   343|  3|
|     3|     9|  NULL|  1|
|     1|     1|  NULL|  1|
|     2|     4|  NULL|  1|
|     8|  NULL|   512|  3|
+------+------+------+---+

In [16]:
merged_df.printSchema()

root
 |-- single: long (nullable = true)
 |-- double: long (nullable = true)
 |-- triple: long (nullable = true)
 |-- key: integer (nullable = true)