In [4]:
import pandas as pd

In [5]:
acc_csv = "../Datasets/us-accidents/US_Accidents_March23.csv"

In [8]:
df = pd.read_csv(acc_csv)

In [9]:
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [13]:
df.count()

ID                       7728394
Source                   7728394
Severity                 7728394
Start_Time               7728394
End_Time                 7728394
Start_Lat                7728394
Start_Lng                7728394
End_Lat                  4325632
End_Lng                  4325632
Distance(mi)             7728394
Description              7728389
Street                   7717525
City                     7728141
County                   7728394
State                    7728394
Zipcode                  7726479
Country                  7728394
Timezone                 7720586
Airport_Code             7705759
Weather_Timestamp        7608166
Temperature(F)           7564541
Wind_Chill(F)            5729375
Humidity(%)              7554250
Pressure(in)             7587715
Visibility(mi)           7551296
Wind_Direction           7553188
Wind_Speed(mph)          7157161
Precipitation(in)        5524808
Weather_Condition        7554935
Amenity                  7728394
Bump                     7728394
Crossing                 7728394
Give_Way                 7728394
Junction                 7728394
No_Exit                  7728394
Railway                  7728394
Roundabout               7728394
Station                  7728394
Stop                     7728394
Traffic_Calming          7728394
Traffic_Signal           7728394
Turning_Loop             7728394
Sunrise_Sunset           7705148
Civil_Twilight           7705148
Nautical_Twilight        7705148
Astronomical_Twilight    7705148
dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [15]:
selected_cols = ['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
                 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'City', 'State', 
                 'Timezone', 'Weather_Condition']

In [16]:
lim_df = pd.read_csv(acc_csv, usecols=selected_cols)

In [23]:
df2 = lim_df

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Severity           int64
 1   Start_Time         object
 2   End_Time           object
 3   Start_Lat          float64
 4   Start_Lng          float64
 5   End_Lat            float64
 6   End_Lng            float64
 7   Distance(mi)       float64
 8   Description        object
 9   City               object
 10  State              object
 11  Timezone           object
 12  Weather_Condition  object
dtypes: float64(5), int64(1), object(7)
memory usage: 766.5+ MB

In [6]:
selected_cols = ['Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
                 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'City', 
                 'State', 'Timezone','Weather_Condition']

selected_dtypes = {
    'Severity': 'int16',
    'Start_Lat': 'float32',
    'Start_Lng': 'float32',
    'End_Lat': 'float32',
    'End_Lng': 'float32',
    'Distance(mi)': 'float32'   
}

In [7]:
df3 = pd.read_csv(acc_csv, 
                            usecols=selected_cols, 
                            dtype=selected_dtypes, 
                            parse_dates=['Start_Time', 'End_Time'])

In [8]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   Severity           int16
 1   Start_Time         object
 2   End_Time           object
 3   Start_Lat          float32
 4   Start_Lng          float32
 5   End_Lat            float32
 6   End_Lng            float32
 7   Distance(mi)       float32
 8   Description        object
 9   City               object
 10  State              object
 11  Timezone           object
 12  Weather_Condition  object
dtypes: float32(5), int16(1), object(7)
memory usage: 574.9+ MB

In [28]:
start_time = pd.to_datetime(df2['Start_Time'], format='mixed')

In [29]:
start_time

0         2016-02-08 05:46:00
1         2016-02-08 06:07:59
2         2016-02-08 06:49:27
3         2016-02-08 07:23:34
4         2016-02-08 07:39:07
                  ...
7728389   2019-08-23 18:03:25
7728390   2019-08-23 19:11:30
7728391   2019-08-23 19:00:21
7728392   2019-08-23 19:00:21
7728393   2019-08-23 18:52:06
Name: Start_Time, Length: 7728394, dtype: datetime64[ns]

In [9]:
df3.isnull().sum().sum()

6987049

In [3]:
df3.isna().sum()

NameError: name 'df3' is not defined

In [10]:
df3.to_parquet("../Datasets/us_accidents.parquet")

In [40]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-15.0.0-cp312-cp312-macosx_10_15_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in /usr/local/Cellar/jupyterlab/4.1.1/libexec/lib/python3.12/site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-15.0.0-cp312-cp312-macosx_10_15_x86_64.whl (27.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.1/27.1 MB 20.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.0
Note: you may need to restart the kernel to use updated packages.

In [41]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2024.2.0-cp312-cp312-macosx_10_9_universal2.whl.metadata (4.1 kB)
Requirement already satisfied: pandas>=1.5.0 in /usr/local/Cellar/jupyterlab/4.1.1/libexec/lib/python3.12/site-packages (from fastparquet) (2.2.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/Cellar/jupyterlab/4.1.1/libexec/lib/python3.12/site-packages (from fastparquet) (1.26.4)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.8.2-cp312-cp312-macosx_10_12_x86_64.whl.metadata (4.1 kB)
Collecting fsspec (from fastparquet)
  Downloading fsspec-2024.2.0-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: packaging in /usr/local/opt/python-packaging/lib/python3.12/site-packages (from fastparquet) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/opt/python-dateutil/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/Cellar/jupyterlab/4.1.1/libexec/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/Cellar/jupyterlab/4.1.1/libexec/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/opt/six/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.2.0-cp312-cp312-macosx_10_9_universal2.whl (920 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 920.8/920.8 kB 7.1 MB/s eta 0:00:0000:01:00:01
Downloading cramjam-2.8.2-cp312-cp312-macosx_10_12_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 21.2 MB/s eta 0:00:0000:0100:01
Downloading fsspec-2024.2.0-py3-none-any.whl (170 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 170.9/170.9 kB 5.4 MB/s eta 0:00:00
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.8.2 fastparquet-2024.2.0 fsspec-2024.2.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
df4 = pd.read_parquet("../Datasets/us_accidents.parquet")

In [14]:
df4.count()

Severity             7728394
Start_Time           7728394
End_Time             7728394
Start_Lat            7728394
Start_Lng            7728394
End_Lat              4325632
End_Lng              4325632
Distance(mi)         7728394
Description          7728389
City                 7728141
State                7728394
Timezone             7720586
Weather_Condition    7554935
dtype: int64

In [19]:
df4=df4.dropna()

In [20]:
df4.count()

Severity             4216978
Start_Time           4216978
End_Time             4216978
Start_Lat            4216978
Start_Lng            4216978
End_Lat              4216978
End_Lng              4216978
Distance(mi)         4216978
Description          4216978
City                 4216978
State                4216978
Timezone             4216978
Weather_Condition    4216978
dtype: int64

In [21]:
df4.Weather_Condition.unique()

array(['Light Rain', 'Overcast', 'Mostly Cloudy', 'Snow', 'Light Snow',
       'Cloudy', 'Scattered Clouds', 'Clear', 'Partly Cloudy',
       'Light Freezing Drizzle', 'Light Drizzle', 'Haze', 'Rain',
       'Heavy Rain', 'Fair', 'Drizzle', 'Fog', 'Thunderstorms and Rain',
       'Patches of Fog', 'Light Thunderstorms and Rain', 'Mist',
       'Rain Showers', 'Light Rain Showers', 'Heavy Drizzle', 'Smoke',
       'Light Freezing Fog', 'Light Freezing Rain', 'Blowing Snow',
       'Heavy Thunderstorms and Rain', 'Heavy Snow', 'Snow Grains',
       'Squalls', 'Light Fog', 'Shallow Fog', 'Thunderstorm',
       'Light Ice Pellets', 'Thunder', 'Thunder in the Vicinity',
       'Fair / Windy', 'Light Rain with Thunder',
       'Heavy Thunderstorms and Snow', 'Light Snow Showers',
       'Cloudy / Windy', 'Ice Pellets', 'N/A Precipitation',
       'Light Thunderstorms and Snow', 'T-Storm', 'Rain / Windy',
       'Wintry Mix', 'Partly Cloudy / Windy', 'Heavy T-Storm', 'Sand',
       'Light Rain / Windy', 'Widespread Dust', 'Mostly Cloudy / Windy',
       'Blowing Dust / Windy', 'Blowing Dust', 'Volcanic Ash',
       'Freezing Rain / Windy', 'Small Hail', 'Wintry Mix / Windy',
       'Light Snow / Windy', 'Heavy Ice Pellets', 'Heavy Snow / Windy',
       'Heavy Rain / Windy', 'Heavy T-Storm / Windy', 'Fog / Windy',
       'Dust Whirls', 'Showers in the Vicinity', 'Funnel Cloud',
       'Thunder / Wintry Mix', 'Light Snow and Sleet',
       'Thunder / Wintry Mix / Windy', 'Snow and Sleet', 'Haze / Windy',
       'Freezing Rain', 'Mist / Windy', 'T-Storm / Windy', 'Snow / Windy',
       'Light Drizzle / Windy', 'Drizzle and Fog', 'Light Rain Shower',
       'Light Freezing Rain / Windy', 'Snow and Sleet / Windy',
       'Rain Shower / Windy', 'Drizzle / Windy', 'Hail',
       'Light Snow with Thunder', 'Rain Shower', 'Light Snow Shower',
       'Heavy Snow with Thunder', 'Blowing Snow / Windy',
       'Thunder / Windy', 'Sleet and Thunder', 'Light Sleet',
       'Smoke / Windy', 'Sleet', 'Heavy Freezing Drizzle',
       'Widespread Dust / Windy', 'Heavy Sleet and Thunder',
       'Drifting Snow / Windy', 'Freezing Drizzle', 'Snow and Thunder',
       'Light Sleet / Windy', 'Sand / Dust Whirls Nearby',
       'Thunder and Hail', 'Sleet / Windy', 'Heavy Sleet',
       'Light Snow and Sleet / Windy', 'Shallow Fog / Windy',
       'Squalls / Windy', 'Light Rain Shower / Windy', 'Tornado',
       'Thunder and Hail / Windy', 'Light Snow Shower / Windy',
       'Sand / Dust Whirlwinds', 'Heavy Sleet / Windy', 'Sand / Windy',
       'Duststorm', 'Heavy Rain Shower / Windy',
       'Snow and Thunder / Windy', 'Sand / Dust Whirlwinds / Windy',
       'Blowing Snow Nearby', 'Partial Fog', 'Heavy Freezing Rain',
       'Blowing Sand', 'Patches of Fog / Windy', 'Heavy Rain Shower',
       'Drifting Snow', 'Heavy Blowing Snow', 'Low Drifting Snow',
       'Light Blowing Snow', 'Heavy Rain Showers', 'Light Haze',
       'Heavy Thunderstorms with Small Hail'], dtype=object)

In [22]:
df4.Weather_Condition.nunique()

135

In [26]:
df4.Weather_Condition.value_counts()

Weather_Condition
Fair                                   1803421
Cloudy                                  549674
Mostly Cloudy                           546059
Partly Cloudy                           374629
Light Rain                              189026
                                        ...
Heavy Rain Shower / Windy                    1
Sand / Windy                                 1
Heavy Sleet / Windy                          1
Light Fog                                    1
Heavy Thunderstorms with Small Hail          1
Name: count, Length: 135, dtype: int64

In [29]:
type(df4['Weather_Condition'])

pandas.core.series.Series

In [32]:
df4['Weather_Condition'] = df4['Weather_Condition'].astype('category')

In [33]:
df4['Weather_Condition'].cat.codes

3402762    59
3402763    59
3402764    83
3402765    83
3402766    83
           ..
7728389    16
7728390    16
7728391    85
7728392    16
7728393    16
Length: 4216978, dtype: int16

In [34]:
df4['Weather_Condition'].cat.categories

Index(['Blowing Dust', 'Blowing Dust / Windy', 'Blowing Sand', 'Blowing Snow',
       'Blowing Snow / Windy', 'Blowing Snow Nearby', 'Clear', 'Cloudy',
       'Cloudy / Windy', 'Drifting Snow',
       ...
       'Thunder and Hail / Windy', 'Thunder in the Vicinity', 'Thunderstorm',
       'Thunderstorms and Rain', 'Tornado', 'Volcanic Ash', 'Widespread Dust',
       'Widespread Dust / Windy', 'Wintry Mix', 'Wintry Mix / Windy'],
      dtype='object', length=135)

In [35]:
onehot_df = pd.get_dummies(df4.Severity)

In [36]:
onehot_df

             1      2      3      4
3402762  False  False   True  False
3402763  False   True  False  False
3402764  False   True  False  False
3402765  False   True  False  False
3402766  False   True  False  False
...        ...    ...    ...    ...
7728389  False   True  False  False
7728390  False   True  False  False
7728391  False   True  False  False
7728392  False   True  False  False
7728393  False   True  False  False

[4216978 rows x 4 columns]

In [47]:
df5 = pd.concat((df4, onehot_df), axis = 1)

In [48]:
df5.tail(5)

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,City,State,Timezone,Weather_Condition,1,2,3,4
7728389,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379356,33.998878,-117.370941,0.543,At Market St - Accident.,Riverside,CA,US/Pacific,Fair,False,True,False,False
7728390,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148064,32.765549,-117.153633,0.338,At Camino Del Rio/Mission Center Rd - Accident.,San Diego,CA,US/Pacific,Fair,False,True,False,False
7728391,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775452,-117.847794,33.777401,-117.857269,0.561,At Glassell St/Grand Ave - Accident. in the ri...,Orange,CA,US/Pacific,Partly Cloudy,False,True,False,False
7728392,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992458,-118.403023,33.983109,-118.395653,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,Culver City,CA,US/Pacific,Fair,False,True,False,False
7728393,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230919,34.137360,-117.239342,0.537,At Highland Ave/Arden Ave - Accident.,Highland,CA,US/Pacific,Fair,False,True,False,False

In [54]:
# importing the module
import pandas as pd

# creating the Series
series1 = pd.Series([1, 2, 3])
display('series1:', series1)
series2 = pd.Series(['A', 'B', 'C'])
display('series2:', series2)

# concatenating
display('After concatenating:')
display(pd.concat((series1, series2), axis = 1))

'series1:'

0    1
1    2
2    3
dtype: int64

'series2:'

0    A
1    B
2    C
dtype: object

'After concatenating:'

   0  1
0  1  A
1  2  B
2  3  C

In [55]:
# importing the module
import pandas as pd

# creating the DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
					'B': ['B0', 'B1', 'B2', 'B3']})
display('df1:', df1)
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
					'B': ['B4', 'B5', 'B6', 'B7']})
display('df2:', df2)

# concatenating
display('After concatenating:')
display(pd.concat([df1, df2],
				keys=['key1', 'key2']))

'df1:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

'df2:'

    A   B
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

'After concatenating:'

         A   B
key1 0  A0  B0
     1  A1  B1
     2  A2  B2
     3  A3  B3
key2 0  A4  B4
     1  A5  B5
     2  A6  B6
     3  A7  B7