In [1]:
val k = 3

Intitializing Scala interpreter ...

Spark Web UI available at http://localhost:4041
SparkContext available as 'sc' (version = 3.5.0, master = local[*], app id = local-1708142932745)
SparkSession available as 'spark'

k: Int = 3

In [2]:
val data = Seq((1,2,3), (4,5,6), (6,7,8), (9,19,10))
val ds = spark.createDataset(data)
ds.show()

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  6|  7|  8|
|  9| 19| 10|
+---+---+---+

data: Seq[(Int, Int, Int)] = List((1,2,3), (4,5,6), (6,7,8), (9,19,10))
ds: org.apache.spark.sql.Dataset[(Int, Int, Int)] = [_1: int, _2: int ... 1 more field]

In [4]:
ds.rdd.getNumPartitions

res2: Int = 4

In [9]:
val df = spark.read.load(path="../Datasets/weather.2016.parquet")

df: org.apache.spark.sql.DataFrame = [ForecastSiteCode: bigint, ObservationTime: bigint ... 13 more fields]

In [10]:
df.show()

+----------------+---------------+-------------------+-------------+---------+--------+----------+-----------------+--------+----------------------+--------------------+--------+---------+--------------------+--------+
|ForecastSiteCode|ObservationTime|    ObservationDate|WindDirection|WindSpeed|WindGust|Visibility|ScreenTemperature|Pressure|SignificantWeatherCode|            SiteName|Latitude|Longitude|              Region| Country|
+----------------+---------------+-------------------+-------------+---------+--------+----------+-----------------+--------+----------------------+--------------------+--------+---------+--------------------+--------+
|            3002|              0|2016-02-01 00:00:00|           12|        8|    NULL|   30000.0|              2.1|   997.0|                     8|   BALTASOUND (3002)|  60.749|   -0.854|   Orkney & Shetland|SCOTLAND|
|            3005|              0|2016-02-01 00:00:00|           10|        2|    NULL|   35000.0|              0.1|   997.0|                     7|LERWICK (S. SCREE...|  60.139|   -1.183|   Orkney & Shetland|SCOTLAND|
|            3008|              0|2016-02-01 00:00:00|            8|        6|    NULL|   50000.0|              2.8|   997.0|                   -99|    FAIR ISLE (3008)|   59.53|    -1.63|   Orkney & Shetland|    NULL|
|            3017|              0|2016-02-01 00:00:00|            6|        8|    NULL|   40000.0|              1.6|   996.0|                     8|     KIRKWALL (3017)|  58.954|     -2.9|   Orkney & Shetland|SCOTLAND|
|            3023|              0|2016-02-01 00:00:00|           10|       30|    37.0|    2600.0|              9.8|   991.0|                    11|SOUTH UIST RANGE ...|  57.358|   -7.397|Highland & Eilean...|SCOTLAND|
|            3026|              0|2016-02-01 00:00:00|            5|       15|    NULL|    3900.0|              4.3|   991.0|                    12|    STORNOWAY (3026)|  58.214|   -6.325|Highland & Eilean...|SCOTLAND|
|            3031|              0|2016-02-01 00:00:00|            4|        9|    NULL|    5000.0|              1.1|   995.0|                    11|LOCH GLACARNOCH S...|  57.725|   -4.896|Highland & Eilean...|SCOTLAND|
|            3034|              0|2016-02-01 00:00:00|            5|        7|    NULL|    5000.0|              3.1|   992.0|                    11|      AULTBEA (3034)|  57.859|   -5.636|Highland & Eilean...|SCOTLAND|
|            3037|              0|2016-02-01 00:00:00|            8|       15|    NULL|    3400.0|              8.6|   993.0|                    15|SKYE/LUSA (SAMOS)...|  57.257|   -5.809|Highland & Eilean...|SCOTLAND|
|            3039|              0|2016-02-01 00:00:00|            9|       32|    43.0|      NULL|              3.9|    NULL|                   -99|BEALACH NA BA (3039)|   57.42|    -5.69|Highland & Eilean...|    NULL|
|            3041|              0|2016-02-01 00:00:00|           10|       44|    82.0|      NULL|              3.9|    NULL|                   -99|   AONACH MOR (3041)|   56.82|    -4.97|Highland & Eilean...|    NULL|
|            3044|              0|2016-02-01 00:00:00|           12|        6|    NULL|   40000.0|              1.3|   994.0|                     8|ALTNAHARRA SAWS (...|  58.288|   -4.442|Highland & Eilean...|SCOTLAND|
|            3047|              0|2016-02-01 00:00:00|            9|       15|    NULL|   10000.0|              4.8|   997.0|                    15|TULLOCH BRIDGE (3...|  56.867|   -4.708|Highland & Eilean...|SCOTLAND|
|            3062|              0|2016-02-01 00:00:00|            6|        6|    NULL|    5000.0|              2.4|   995.0|                     9|   TAIN RANGE (3062)|   57.82|    -3.97|Highland & Eilean...|    NULL|
|            3063|              0|2016-02-01 00:00:00|            9|        9|    22.0|   22000.0|              2.7|   996.0|                     9|     AVIEMORE (3063)|  57.206|   -3.827|Highland & Eilean...|SCOTLAND|
|            3075|              0|2016-02-01 00:00:00|            7|       10|    NULL|   27000.0|              4.2|   996.0|                     8| WICK AIRPORT (3075)|  58.454|   -3.089|Highland & Eilean...|SCOTLAND|
|            3066|              0|2016-02-01 00:00:00|            4|        5|    NULL|   12000.0|              2.8|   995.0|                    12|      KINLOSS (3066)| 57.6494|  -3.5606|            Grampian|SCOTLAND|
|            3068|              0|2016-02-01 00:00:00|            6|        8|    NULL|   23000.0|              2.5|   996.0|                     8|  LOSSIEMOUTH (3068)|  57.712|   -3.322|            Grampian|SCOTLAND|
|            3080|              0|2016-02-01 00:00:00|           12|        2|    NULL|   16000.0|              0.8|   998.0|                     7|       ABOYNE (3080)|  57.077|   -2.836|            Grampian|SCOTLAND|
|            3088|              0|2016-02-01 00:00:00|            8|       17|    NULL|     400.0|              4.3|   998.0|                     6|  INVERBERVIE (3088)|   56.85|    -2.27|            Grampian|    NULL|
+----------------+---------------+-------------------+-------------+---------+--------+----------+-----------------+--------+----------------------+--------------------+--------+---------+--------------------+--------+
only showing top 20 rows

In [14]:
df.rdd.getNumPartitions

res4: Int = 1

In [13]:
df.repartition(4)

res3: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [ForecastSiteCode: bigint, ObservationTime: bigint ... 13 more fields]

In [18]:
val wdf = spark.read.format("csv").option("sep",",").option("inferSchema","true").option("header","true").load("../Datasets/WineDataset.csv")

wdf: org.apache.spark.sql.DataFrame = [Title: string, Description: string ... 15 more fields]

In [23]:
wdf.write.format("parquet").partitionBy("Country").save("../Datasets/wine.parquet")

In [19]:
wdf.collect()

res5: Array[org.apache.spark.sql.Row] = Array([The Guv'nor, Spain,We asked some of our most prized winemakers working in Spain to make the best wines possible – no rules, no restrictions, no red tape. The Guv'nor collection was their answer. Made from Tempranillo grapes picked from their favourite vineyards across Spain, it’s a crowd-pleasing wine designed to be shared with good food – and even better company. It’s bold. It’s fruity. It’s a modern Spanish red that goes with everything, especially spicy barbecue meats or anything chargrilled.,£9.99 per bottle,75CL,Tempranillo,null,Natural Cork,Spain,10.5,Vanilla, Blackberry, Blackcurrant,per bottle,Red,ABV 14.00%,null,Rich & Juicy,NV,null], [Bread & Butter 'Winemaker's Selection' Chardonnay 2020/21, California,This really does what it sa...

In [21]:
wdf.show(2)

+--------------------+--------------------+-----------------+--------+-----------+-------------------------+------------+-------+----+--------------------+------------------------+-----+----------+----------+-------------+-------+-----------+
|               Title|         Description|            Price|Capacity|      Grape|Secondary Grape Varieties|     Closure|Country|Unit|     Characteristics|Per bottle / case / each| Type|       ABV|    Region|        Style|Vintage|Appellation|
+--------------------+--------------------+-----------------+--------+-----------+-------------------------+------------+-------+----+--------------------+------------------------+-----+----------+----------+-------------+-------+-----------+
|  The Guv'nor, Spain|We asked some of ...| £9.99 per bottle|    75CL|Tempranillo|                     NULL|Natural Cork|  Spain|10.5|Vanilla, Blackber...|              per bottle|  Red|ABV 14.00%|      NULL| Rich & Juicy|     NV|       NULL|
|Bread & Butter 'W...|This really does ...|£15.99 per bottle|    75CL| Chardonnay|                     NULL|Natural Cork|    USA|10.1|Vanilla, Almond, ...|              per bottle|White|ABV 13.50%|California|Rich & Toasty|   2021|Napa Valley|
+--------------------+--------------------+-----------------+--------+-----------+-------------------------+------------+-------+----+--------------------+------------------------+-----+----------+----------+-------------+-------+-----------+
only showing top 2 rows

In [24]:
wdf.bucketBy("Grape")

<console>: 26: error: value bucketBy is not a member of org.apache.spark.sql.DataFrame

In [25]:
wdf.rdd.partitioner

res10: Option[org.apache.spark.Partitioner] = None

In [26]:
val wdf2 = spark.read.format("parquet").option("inferSchema","true").option("header","true").load("../Datasets/wine.parquet/")

wdf2: org.apache.spark.sql.DataFrame = [Title: string, Description: string ... 15 more fields]

In [27]:
wdf2.rdd.getNumPartitions

res11: Int = 4

In [28]:
wdf2.rdd.partitioner

res12: Option[org.apache.spark.Partitioner] = None

In [59]:
wdf2.write.partitionBy("Country").bucketBy(2,"Region").mode("overwrite").option("path","../Datasets/data/").saveAsTable("wines")

In [51]:
wdf2.write.bucketBy(2,"Region").mode("overwrite").sortBy("Title").saveAsTable("wines")

In [49]:
spark.sql("select * from wines limit 6").show()

+--------------------+--------------------+-----------------+--------+----------+-------------------------+------------+----+--------------------+------------------------+-----+----------+--------------------+--------------+-------+-----------+--------+
|               Title|         Description|            Price|Capacity|     Grape|Secondary Grape Varieties|     Closure|Unit|     Characteristics|Per bottle / case / each| Type|       ABV|              Region|         Style|Vintage|Appellation| Country|
+--------------------+--------------------+-----------------+--------+----------+-------------------------+------------+----+--------------------+------------------------+-----+----------+--------------------+--------------+-------+-----------+--------+
|10 year old Malms...|This Madeira is m...|£22.99 per bottle|    50CL|  Malvasia|                     NULL|Natural Cork|  10|Walnut, Caramel, ...|              per bottle|White|ABV 20.00%|                NULL|          NULL|     NV|       NULL|Portugal|
|Abbotts & Delauna...|If you love rich,...|             NULL|    NULL|      NULL|                     NULL|        NULL|NULL|                NULL|                    NULL| NULL|      NULL|                NULL|          NULL|   NULL|       NULL|    NULL|
|Abbotts & Delauna...|Laurent Delaunay ...|£11.99 per bottle|    75CL|  Grenache|                     NULL|    Screwcap| 9.4|Citrus Fruit, Ras...|              per bottle| Rosé|ABV 12.50%|Languedoc-Roussillon|Delicate & Dry|   2021|       NULL|  France|
|Abbotts & Delauna...|French Malbec is ...|£11.99 per bottle|    75CL|    Malbec|                     NULL|    Screwcap| 9.8|Black Fruit, Red ...|              per bottle|  Red|ABV 13.00%|Languedoc-Roussillon| Soft & Fruity|   2020|       NULL|  France|
|Abbotts & Delauna...|If you’re seeking...|£19.99 per bottle|    75CL|Chardonnay|                     NULL|Natural Cork|10.1|Lemon, Peach, Ban...|              per bottle|White|ABV 13.50%|Languedoc-Roussillon| Rich & Toasty|   2021|  Pays D'Oc|  France|
|Adega de Pegões ‘...|This elegant whit...|             NULL|    NULL|      NULL|                     NULL|        NULL|NULL|                NULL|                    NULL| NULL|      NULL|                NULL|          NULL|   NULL|       NULL|    NULL|
+--------------------+--------------------+-----------------+--------+----------+-------------------------+------------+----+--------------------+------------------------+-----+----------+--------------------+--------------+-------+-----------+--------+

In [ ]:
hrdf = spark.read.format("json").option("path","~/Datasets/endomondoHR.json")

In [60]:
spark.conf.get("spark.sql.files.maxPartitionBytes")

res32: String = 134217728b

In [63]:
spark.sparkContext.defaultParallelism

res35: Int = 4

<console>: 2: error: . expected