In [2]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/15 02:53:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/18 04:47:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df = spark.createDataFrame(
    [
        ("sue", 32),
        ("li", 3),
        ("bob", 75),
        ("heo", 13),
    ],
    ["first_name", "age"],
)

In [5]:
df.show()

+----------+---+
|first_name|age|
+----------+---+
|       sue| 32|
|        li|  3|
|       bob| 75|
|       heo| 13|
+----------+---+

In [5]:
from pyspark.sql.functions import col, when

df1 = df.withColumn("life_stage",
                    when(col("age") < 13, "child")
                    .when(col("age").between(13, 19), "teenager")
                    .otherwise("adult"),
                   )

In [7]:
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

In [8]:
df2 = spark.createDataFrame(emp,empColumns)

In [7]:
df1.where(col("life_stage").isin(["teenager","adult"])).show()

+----------+---+----------+
|first_name|age|life_stage|
+----------+---+----------+
|       sue| 32|     adult|
|       bob| 75|     adult|
|       heo| 13|  teenager|
+----------+---+----------+

In [8]:
from pyspark.sql.functions import avg

df1.select(avg("age")).show()

+--------+
|avg(age)|
+--------+
|   30.75|
+--------+

In [9]:
df1.groupBy("life_stage").avg("age").show()

+----------+--------+
|life_stage|avg(age)|
+----------+--------+
|     adult|    53.5|
|     child|     3.0|
|  teenager|    13.0|
+----------+--------+

In [17]:
df4=df1.where((col("age") > 0) & (col("life_stage")=='child')).show()

+----------+---+----------+
|first_name|age|life_stage|
+----------+---+----------+
|        li|  3|     child|
+----------+---+----------+

In [ ]:
spark.sql("select avg(age) from {x}",x=df1).show()

In [ ]:
df1.write.saveAsTable("some_people")

In [ ]:
spark.sql("select * from some_people").show()

In [ ]:
spark.sql("INSERT INTO some_people VALUES ('frank', 4, 'child')")

In [ ]:
spark.sql("select * from some_people").show()

In [ ]:
spark.sql("select * from some_people where life_stage='teenager'").show()

In [ ]:
df = (
    spark.readStream.format("kafka")
    .option("kafka.bootstrap.servers","host1:port1,host2:port2")
    .option("subscribe", subscribeTopic).load()
    
)

In [ ]:
schema = StructType([
 StructField("student_name", StringType()),
 StructField("graduation_year", StringType()),
 StructField("major", StringType()),
])

def with_normalized_names(df, schema):
    parsed_df = (
        df.withColumn("json_data", from_json(col("value").cast("string"), schema))
        .withColumn("student_name", col("json_data.student_name"))
        .withColumn("graduation_year", col("json_data.graduation_year"))
        .withColumn("major", col("json_data.major"))
        .drop(col("json_data"))
        .drop(col("value"))
    )
    split_col = split(parsed_df["student_name"], "XX")
    return (
        parsed_df.withColumn("first_name", split_col.getItem(0))
        .withColumn("last_name", split_col.getItem(1))
        .drop("student_name")
    )

In [ ]:
./bin/spark-submit examples/src/main/python/sql/streaming/structured_network_wordcount.py localhost 9999